<!-- waiting div while ajax response -->
<div class="overlay text-center" id="waitAjax"><br/><br/><br/>
    <h2 style="color:#fff;"><span class="fal fa-2x fa-spinner fa-spin"></span>&nbsp;&nbsp;Veuillez patienter, en attente de la réponse du serveur !</h2>
</div>
