<ul class="nav nav-tabs" role="tablist" id="subtabaction">
    <li role="presentation" id="litabsearch"><a href="#tabsearch" role="tab" data-toggle="tab">{{ searchTranslations[62] }}</a></li>
    <li role="presentation" id="litabfilter"><a href="#tabfilter" role="tab" data-toggle="tab">{{ filterTranslations[14] }}</a></li>
    <li role="presentation" id="litabresults" class="active"><a href="#tabresults" role="tab" data-toggle="tab">{{ resultTranslations[19] }}</a></li>
</ul>
