<!-- B#26 Comments while setting unlimited -->
<div class="modal" id="CommentsUnlimitedModal" tabindex="-1" role="dialog" aria-labelledby="CommentsUnlimitedLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="CommentsUnlimitedLabel">{{ translations[2] }}</h4>
            </div>
            <div class="modal-body" id="CommentsUnlimitedContent">
                &nbsp;Commentaires<br/><br/>
                <textarea rows="8" id="CommentsUnlimitedText" class="form-control" ></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ translations[3] }}</button>
                <button type="button" class="btn btn-primary" id="CommentsUnlimitedValidate" >{{ translations[2] }}</button>
            </div>
        </div>
    </div>
</div>
